.booking {
  width: 100%;
  padding: 2% 3%;
}
.booking h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  position: relative;
  font-size: 1.75rem;
  text-align: center;
}
.booking .hr-header {
  width: 50px;
  height: 4px;
  background-color: #ff4f5a;
  border-radius: 5px;
  border: 1px solid #ff4f5a;
}
.booking .booking-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.booking button {
  background-color: #ff4f5a;
  padding: 12px 55px;
  outline: 0;
  border: 1px solid #ff4f5a;
  color: #fff;
  margin-top: 25px;
}
.booking input {
  width: 40%;
  border: 0;
  padding: 15px 12px;
  background-color: #f2f2f2;
  outline: 0;
  margin: 10px 0;
}
